<div class="container-fluid sub_section pt-5 pb-5" id="aboutid">

    <div class="section_header text-center mb-5 mt-5">
      <h1> About COVID-19 </h1>
    </div>
    <div class="row pt-5 ">
      <div class="col-lg-5 col-md-6 col-12 ml-5 about_res">
        <img src="assets/images/about covid.jpg" class="img-fluid" alt="">
  
      </div>
  
      <div class="col-lg-6 col-md-6 col-12 ">
        <h2> What is Covid-19 </h2>
        <p> Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome coronavirus 2.It was first identified in December 2019 in Wuhan, Hubei, China, and has resulted in an ongoing pandemic. On 5 October, the WHO said that one in ten people around the world (around 800 million) may have been infected with COVID–19.As of 12 October 2020, 37.5 million cases have been reported across 188 countries and territories with more than 1.07 million deaths, more than 26.1 million people have recovered.</p>
  
        <p>         Common symptoms include fever, cough, fatigue, shortness of breath or breathing difficulties, and loss of smell and taste.[6] While most people have mild symptoms, some people develop acute respiratory distress syndrome (ARDS) possibly precipitated by cytokine storm,[11] multi-organ failure, septic shock, and blood clots. The incubation period may range from one to fourteen days.
      </p>
  
      </div>
    </div>
  
  </div>