<!-- <div id="footer">
    <div class="container">
      <p class="footer-block text-center"> Designed & Developed By <span style="color:rgba(248, 248, 43, 0.76);">Venu</span>Kalyan </p>
    </div>
  </div> -->
  <footer class="footer-area footer--light footer">
  

    <div class="mini-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>© 2020
                <a href="#"></a>. All rights reserved. Created by
                <a href="#" class="text-center">Venu Kalyan Vella</a>
              </p>
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </footer>