<div class="main_header">
    <div class="row w-100 h-100">
      <div class="col-lg-5 col-md-5 col-12 order-lg-1 order-2">
        <div class="leftside w-100 h-100 d-flex justify-content-center align-items-center ">
          <img src="assets/images/coronavirus (1).png" width="300" height="300" alt="">
  
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-12 order-lg-2 order-1">
        <div class="rightside w-100 h-100 d-flex justify-content-center align-items-center ">
          <h1>
            Let's Stay Safe & Fight Together Against C <span class="coronaimg"> <img
              src="assets/images/corona-4881111_1280.png" width="48px" height="48px" alt=""> </span>r <span class="coronaimg"> <img
                src="assets/images/corona-4881111_1280.png" width="48px" height="48px" alt=""> </span> na Virus
          </h1>
  
        </div>
      </div>
    </div>
  </div>
  
    <app-dashboard-card [totalConfirmed]="totalConfirmed" [totalActive]="totalActive" [totalDeath]="totalDeath" [totalRecovered]="totalRecovered"></app-dashboard-card>
