<div class="container-fluid  pt-5 pb-5" id="aboutid">

    <div class="section_header text-center mb-5 mt-5">
      <h1>Corona Symptoms </h1>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/cough.png" class="img-fluid" width="120px" height="120px" alt="">
            <figcaption>Cough </figcaption>
  
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/fever.png" class="img-fluid" width="120px" height="120px" alt="">
            <figcaption>Fever </figcaption>
  
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/headache.png" class="img-fluid" width="120px" height="120px" alt="">
            <figcaption>Headache </figcaption>
  
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/sick.png" class="img-fluid" width="120px" height="120px" alt="">
            <figcaption>Sick </figcaption>
  
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/runny-nose.png" class="img-fluid" width="120px" height="120px" alt="">
            <figcaption>runny nose </figcaption>
  
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
            <figure class="text-center">
              <img src="assets/images/cold.png" class="img-fluid" width="120px" height="120px" alt="">
              <figcaption>cold </figcaption>
  
            </figure>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mt-5">
            <figure class="text-center">
              <img src="assets/images/tiredness.png" class="img-fluid" width="120px" height="120px" alt="">
              <figcaption> tiredness </figcaption>
  
            </figure>
          </div> <div class="col-lg-4 col-md-4 col-12 mt-5">
            <figure class="text-center">
              <img src="assets/images/pneumonia.png" class="img-fluid" width="120px" height="120px" alt="">
              <figcaption>difficult breathing </figcaption>
  
            </figure>
          </div> 
          <!-- <div class="col-lg-4 col-md-4 col-12 mt-5">
            <figure class="text-center">
              <img src="assets/images/cold.png" class="img-fluid" width="120px" height="120px" alt="">
              <figcaption>cold </figcaption>
  
            </figure>
          </div> -->
      </div>
    </div>
  <div class="jumbotron display-5 text-center">
    <p class="">
      Symptoms can range from mild to severe illness, and appear 2-14
days after you are exposed to the virus that causes COVID-19. 
    </p>
  </div>
  
  </div>
  