<div class="container-fluid sub_section  pt-5 pb-5" id="aboutid">

    <div class="section_header text-center mb-5 mt-5">
      <h1>6 Steps Prevention Against Coronavirus </h1>
    </div>
  
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure  >
                            <img src="assets/images/handwash.png" class="img-fluid" width="90px" height="90px" alt="">
                            <!-- <figcaption> a handsanitize on wash your hansds ma norakhfkfkjshf </figcaption> -->
                
                          </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>wash your hands regularly for 20 seconds, with soap and water or aicholic-based hand rub. </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="assets/images/medical-mask (1).png" class="img-fluid" width="90px" height="90px" alt="">
                            <!-- <figcaption> a handsanitize on wash your hansds ma norakhfkfkjshf </figcaption> -->
                
                          </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p> Cover your nos and mouth with a disposable tissue or flexed elbow when you cough or sneeze </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="assets/images/quarantine.png" class="img-fluid" width="90px" height="90px" alt="">
                            <!-- <figcaption> a handsanitize on wash your hansds ma norakhfkfkjshf </figcaption> -->
                
                          </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Avoid close contact (1to 6feet ) with people who are unwell </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="assets/images/house.png" class="img-fluid" width="90px" height="90px" alt="">
                            <!-- <figcaption> a handsanitize on wash your hansds ma norakhfkfkjshf </figcaption> -->
                
                          </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>stay home and self-isolate from others in the household if you fell unwell </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="assets/images/television.png" class="img-fluid" width="90px" height="90px" alt="">
                            <!-- <figcaption> a handsanitize on wash your hansds ma norakhfkfkjshf </figcaption> -->
                
                          </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>Stay informed by watching news & follow the recommended practices </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <figure class="text-center">
                            <img src="assets/images/corona.png" class="img-fluid" width="90px" height="90px" alt="">
                            <!-- <figcaption> a handsanitize on wash your hansds ma norakhfkfkjshf </figcaption> -->
                
                          </figure>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                        <p>if you have feaver, cough and difficult breathing seek medical case early. </p>
                    </div>
                    
                </div>
            </div>
  
        </div>
    </div>
  
  
  
  
  
  
  </div>
  <div class="container tips">
      <h3 class=" mt-3 px-3"> Prevention tips</h3>
      <ol  class="text-justify ml-5 py-2">
          <li >
            Wash your hands frequently for at least 20 seconds at a time with warm water and soap. How long is 20 seconds? About as long as it takes to sing your “ABCs.”
          </li>
          <li >  Don’t touch your face, eyes, nose, or mouth when your hands are dirty.</li>
          <li >  Don’t go out if you’re feeling sick or have any cold or flu symptoms.</li>
           <li > Stay at least 6 feetTrusted Source (2 meters) away from people.</li>
          <li >  Cover your mouth with a tissue or the inside of your elbow whenever you sneeze or cough. Throw away any tissues you use right away.</li>
           <li > Clean any objects you touch a lot. Use disinfectants on objects like phones, computers, and doorknobs. Use soap and water for objects that you cook or eat with, like utensils and dishware.
          </li>
      </ol>
  </div>


  